root = true

[*]
indent_style = space            # 空格缩进,可选"space"、"tab"
indent_size = 2                 # 缩进空格为2个
end_of_line = lf                # 结尾换行符，可选"lf"、"cr"、"crlf"
charset = utf-8                 # 文件编码是 utf-8
trim_trailing_whitespace = true # 不保留行末的空格
insert_final_newline = true     # 文件末尾添加一个空行
max_line_length = 120           #一行最大字符数