@font-face {
  font-family: "iconfont"; /* Project id 1796248 */
  src: url('iconfont.woff2?t=1700737901546') format('woff2'),
       url('iconfont.woff?t=1700737901546') format('woff'),
       url('iconfont.ttf?t=1700737901546') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuti_tiaosepan_o:before {
  content: "\eb6e";
}

.icon-guanbi:before {
  content: "\eaf2";
}

